<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>content-app</display-name>
    <description>content-app</description>

    <context-param>
        <param-name>components</param-name>
        <param-value>/WEB-INF/components/</param-value>
    </context-param>

    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>content.ContentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>

</web-app>
